body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #909090;
	overflow: hidden;
}

.spacer {
	flex-grow: 1;
}

#header,
#footer {
	height: 50px;
	display: flex;
	flex-direction: row;
	background-color: #303030;
	color: #ffffff;
	column-gap: 10px;
	padding: 10px 20px;
	box-sizing: border-box;
}

#header a {
	text-decoration: none;
	color: #ffffff;
}

#header>div,
#footer>div {
	line-height: 30px;
}

#title {
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
}

#userInfo {
	text-align: right;
	padding: 0 5px;
	min-width: 200px;
	margin-right: 10px;
	cursor: pointer;
}

#userInfo:hover {
	text-decoration: underline;
}

button {
	min-width: 60px;
	min-height: 30px;
}

/* Main */

#main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 100px);
	overflow: hidden;
}
